*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-color: black;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.header{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    pad: 0px 10px;
}

.headerspan{
    color: green;
}

.application{
    width: 90%;
    height: 70%;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
}

.way{
    width: 40%;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.holder{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(194, 189, 189);
    align-items: center;
    padding: 8px;
    border-radius: 0.2rem;
}

.title{
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space{
    width: 20%;
}

input{
    width: 200px;
    height: 40px;
    text-decoration: none;
    padding: 8px;
    border: none;
    border-radius: 0.4rem;
}

.result{
    width: 100%;
    height: 30%;
    background-color: grey;
    border-radius: 0.2rem;
    overflow: hidden;
}

.display{
    background-color: grey;
    padding: 10px;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    border-radius: 0.4rem;
    width: 150px;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
}

p{
    font-size: 14px;
}
.displaystatus, .displaystatusback{
    font-size: 18px;
}

@media (max-width: 905px){
    .container{
        width: 100%;
        height: 1050px;
    }
    .application{
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .way{ 
        width: 95%;
        margin-bottom: 10%;
        height: 45%;
    }

    p{
        font-size: 10px;
    }

    .space{
        width: 1%;
    }

    input{
        height: 28px;
    }
}

@media (max-width: 400px){
    p{
        font-size: 10px;
    }
}